body {
	width: 70%;
	max-width: 1000px;
	min-width: 250px;
	margin: 0 auto;
	padding-bottom: 3em;
	font-family: "Raleway", sans-serif;
	text-align: center;
	background: #fff;
	color: #111;
}

h1, h2, h3, h4 { font-family: "Kadwa", serif; }

img {
	display: block;
	width: 100%;
}

hr {
	display: block;
	width: 65%;
	height: 8px;
	margin: 2.5em auto;
	background-color: #000;
	border: none; outline: none;
}

.hidden { display: none; }

.logo {
	width: 50%;
	max-width: 1000px;
	min-width: 150px;
	margin: 7.5% auto;
}

.social-link { text-decoration: none !important; }

.social-icon {
	display: inline-block;
	width: 60px;
	margin: 0.5em;
	text-decoration: none !important;
}
.social-icon:hover { opacity: 0.75; }

@media (max-width: 900px) {
	.logo-horizontal { display: none; }
	.logo-vertical { display: block; }
}
